.nav {
  background: $tertiaryColor;
  color: white;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 300;
  padding: 1rem 2rem;
  min-height: 4rem;

  @media (max-width: $second-breakpoint) {
    display: flex;
    align-items: center;
  }

  &__items {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $first-breakpoint) {
      flex-wrap: wrap;
      justify-content: center;
    }
    @media (max-width: $second-breakpoint) {
      flex: 1;
    }
  }

  &__logo {
    width: 4rem;
    height: 4rem;
  }

  &__search {
    flex-basis: 25%;
    background: white;
    display: flex;
    height: 2.4rem;

    @media (max-width: $first-breakpoint) {
      order: 2;
      flex-basis: 80%;
      justify-self: center;
      margin-top: 1rem;
    }
  }
  &__lists {
    display: flex;

    @media (max-width: $second-breakpoint) {
      display: none;
    }
  }
  &__list {
    margin: 0.8rem;
    position: relative;
    padding: 0.4rem 0;
    transition: all 0.2s;
    list-style: none;

    &::before {
      content: "";
      position: absolute;
      height: 1px;
      width: 100%;
      background: white;
      left: 0;
      bottom: 0;
      display: inline-block;
      transform: scale(0);
      transition: all 0.2s;
    }

    &:hover {
      color: $secondaryColor;
      cursor: pointer;
    }
  }
}

.nav__list:hover::before {
  transform: scale(1);
}

.search-icon {
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: $secondaryColor;
  flex-basis: 15%;
  transition: all 0.4s;
  display: flex !important;
  cursor: pointer;

  &:hover {
    background: $secondaryColor;
    color: white;
  }
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 0.4rem 1rem;
}

.stick {
  background: black;
  opacity: 0.8;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.footer__logo-container {
  @media (max-width: $first-breakpoint) {
    margin-right: 2rem;
  }
}

.hamburger-icon-container {
  height: 3rem;
  width: 4rem;
  cursor: pointer;
  position: relative;
  z-index: 1000;

  @media (min-width: $second-breakpoint) {
    display: none;
  }
}

.hamburger-icon {
  width: 3rem;
  height: 2px;
  background: white;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.4s;
}
.hamburger-icon::after {
  content: "";
  width: 100%;
  height: 100%;
  background: white;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -8px;
}
.hamburger-icon::before {
  content: "";
  width: 100%;
  height: 100%;
  background: white;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 8px;
}

.mobile-nav {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: $tertiaryColor;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 999;
  transform: translateX(-80rem);
  opacity: 0;
  transition: all 0.8s ease-in-out;
}
.show-mobile-nav {
  transform: translateX(0);
  opacity: 1;
}

.checkbox {
  display: none;
}
.checkbox:checked
  + .checkbox-label
  .hamburger-icon-container
  .hamburger-icon::before {
  display: none;
}

.checkbox:checked + .checkbox-label .hamburger-icon-container .hamburger-icon {
  transform: rotate(45deg) translate(-50%, -50%);
}
.checkbox:checked
  + .checkbox-label
  .hamburger-icon-container
  .hamburger-icon::after {
  top: -20px;
  transform: rotate(-90deg) translate(-50%, -50%);
}
